@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=DM+Sans:opsz@9..40&family=Gabarito&family=Inter&family=Martian+Mono:wght@300;500&family=Montserrat&family=Poppins&family=Roboto:ital@0;1&family=Skranji&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.navInput::placeholder {
  color: #101010;
  opacity: 1;
}

/* styles.css */
.inputRange {
  -webkit-appearance: none;
  width: 220px;
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.inputRange:hover {
  opacity: 1;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(229, 85, 39, 1);
  cursor: pointer;
}

.inputRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(229, 85, 39, 1);
  cursor: pointer;
}

input {
  outline: none;
}
